.card{
    transition: all .5s ease-in-out;
}
.card:hover{
    border: 3px solid yellow;
    background: yellow;
}
.homeContent{
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.6)),url('../../Files/Image/Rectangle 1.png') no-repeat center/cover;
}
.childHomeContent{
    padding-top: 9%;
}